
@import "tailwindcss";
body{
    background: url(/colors-backgrounds-cover.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
  }