
@import "tailwindcss";
body{
    /* background: url(/colors-backgrounds-cover.webp);
    background-size: cover;
    background-position: center;
      <div className=' flex  h-full p-6 w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 border border-gray-100'> 

    background-repeat: no-repeat; */
    background-color: #DCDCDC;
    width: 100%;
     /* background-image: url(/frontend/public/sideimage.webp); */
   
    
 }



::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
  }